/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('./images/blue-line-taxis.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
}
