<div class="d-flex justify-content-center " xmlns="http://www.w3.org/1999/html">
        <div class="card-body" align="center">
          <br><br><br><br><br><br><br><br><br><br>
            <h2 class="card-title text-center text-primary">Start Booking Your Taxi Service</h2>
            <br>
            <h6 class="card-text"> BlieLine is a Taxi service provided to help you find the most dependable and highest quality taxi services, anytime and anywhere. All our drivers are professional and fully licensed.
            </h6>
        </div>
</div>
