<div class="d-flex justify-content-center ">
    <div class="card border-primary" style="width: 50%; margin-top: 12%; ">
        <div class="card-body">
            <h2 class="card-title text-center text-primary">BlueLine Taxi</h2>
            <p class="card-text"><b>BlueLine</b> is a Taxi service provided by the various transport
                operators in a particular city. Mostly peoples use cab service for their daily transportations need. The
                company must be a registered and fulfils all the requirements and security standards set by the
                transport department.</p>
        </div>
    </div>
</div>
