<div class="d-flex justify-content-center " xmlns="http://www.w3.org/1999/html">
        <div class="card-body">
          <br><br><br><br><br><br><br><br><br><br>
            <h2 class="card-title text-center text-primary">Start Booking Your Taxi Service..!</h2>
            <p class="card-text"><b>BlueLine</b> is a Taxi service provided to help you find the most dependable and highest quality taxi services, anytime and anywhere. All our drivers are professional and fully licensed.
            </p>
        </div>
</div>
